body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
    background-color: #FFF;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

span {
    color: #2e2f42;
}

.nav-link {
    color: #2e2f42;
    font-style: normal;
    list-style-type: none;
}

.nav-header {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.title {
    background-color: #2e2f42;
}

.title-page {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    background: #2e2f42;
}

.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
}

.our-team {
    background-color: #F4F4FD;
}

.info {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.our-portofolio {
    background-color: #FFFFFF;
}
.card {
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

p {
    color: #434455;
}

.service {
    line-height: 1.11;
    text-transform: capitalize;
}

.footer-p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background: #2e2f42;
}
.nav-link:hover{
    color: #404bbf;
}
.button:hover{
    background-color: #404BBF;
    cursor: pointer;
}
