body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

span {
    color: #2e2f42;
}

.nav-header {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link {
    color: #2e2f42;
    font-style: normal;
    list-style-type: none;
}

.adress-link {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
}

.address {
    color: #434455;
}

.title {
    background-color: #2e2f42;
}

.title-page {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    background: #2e2f42;
}

.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
}

.about {
    background-color: #FFF;
}

.info {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.info-card {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.info-card-about{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-team {
    background-color: #F4F4FD;
}

.our-portofolio{
    background-color: #fff;
}

.portofolio-list{
    background-color: #FFFFFF;
}

.footer-info {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background: #2e2f42;
}
.footer-span{
    color: #f4f4fd;
}
.nav-link:hover{
    color: #404bbf;
}
.nav-link:focus{
    color: #404bbf;
}
.button:hover{
    background-color: #404BBF;
    cursor: pointer;
}
.button:focus{
    background-color: #404BBF;
    cursor: pointer;}
.adress-link:hover{
    color: #404bbf;
}
.adress-link:focus{
    color:  #404bbf;
}